.list{
  padding-top: 60px;
}
.icon,.friend,.story,.label,.society,.film,.showMore{
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  width:300px;
  height:25px;
  transition: background-color 0.3s;
  position:relative;
  border-radius: 8px;
}
.icon:hover,.friend:hover,.story:hover,.label:hover,.society:hover,.film:hover,.showMore:hover{
  background-color: grey;
}
.icon_content,.friend_content,.story_content,.label_content,.society_content,.film_content,.showMore_content{
  margin-left: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}
.icon_img,.friend_img,.story_img,.label_img,.society_img,.film_img,.showMore_img{
  position:absolute;
}